.wizard .content {
    min-height: 100px;
}
.wizard .content > .body {
    width: 100%;
    height: auto;
    padding: 15px;
    position: absolute;
}
.wizard .content .body.current {
    position: relative;
}

.reversed{padding: 3rem 0 0 0;}
.reversed .control-label{margin: -4.5rem 0 0 0; float: left;}

input.is-valid ~ label{color: green;}
input.is-invalid ~ label{color: red;}

.help-block {
  color: #DC3545;  
  /* background-color: #f2dede;
  border-color: #ebccd1;
  padding:1px 20px 1px 20px;*/
}

.dropzone {
width: 100px;
height: 100px;
min-height: 0px !important;
}  

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
/*.help-block {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding:1px 20px 1px 20px;
}*/
.dataTables_filter{
  float: right;
}

.icono-action a:hover{
  font-size: 1.25em;
}
.icono-action-2 a:hover{
  font-size: 1.25em;
}
.margin_row_top{
  margin-top: -1em;
}
.margin_row_top2{
  margin-top: -0.5em;
}

.margin_row_top-menos_2{
  margin-top: -2.1em;
}

.input-lg{
  width: 100%
}

.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
      font-size: 3.5rem;
  }
}

.dt-center{
  text-align: center;
}
/*.footer-bottom {
  position: absolute;
  bottom: 0;
}
*/
/*hr {
    height: 1px;
    border: 0;
    background-color: SILVER;
}*/

/*.valid-feedback.feedback-icon,
.invalid-feedback.feedback-icon {
    position: absolute;
    width: auto;
    bottom: 10px;
    right: 10px;
    margin-top: 0;
}*/